# Server Configuration
PORT=3001

# Database Configuration (MongoDB)
MONGO_URI=mongodb://localhost:27017/evoting

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Admin Blockchain Identity (Owner of Contracts)
ADMIN_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
ADMIN_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
